html {
    min-height: 100%;
    position: relative;
    font-family: 'Lato', sans-serif;
    background-color: #A9BCD0; /* Whole sites background color */
    border: 5px solid black;
}

.containeri {
    background-color: rgb(201, 208, 216);
    margin: 0;
    padding: 0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    /* height: fit-content; */
}

#root {
    background-color: #A9BCD0; /* Whole sites background color */
}

.header {
    background-color: #58A4B0;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 500;
}

.header a{
    color:#58A4B0;
    
}

.header a:hover {
    color:#D8DBE2;
}

navbar-toggler button {
    border-color: white;
}

.nav .nav-toggle .navbar-toggler button span {
    background-color: #6a67ce;
}

.footer {
    padding: 25px;
    margin: 25px;
    background-color: rgb(201, 208, 216);
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 20%;
    color: #1B1B1E;
    
}

.footer-block {
    margin: 20px 0;
}

.ots {
    margin-bottom: 25px;
    margin-top: 25px;
}

.footer a {
    color: ghostwhite;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;

}

.footer a.hover {
    color: #58A4B0;
}

.Main { 
    text-align: center; 
    background-color: #222;
} 

ul.nav {
    text-align: center; 
    background-color: #222;
    padding: 5px;
    margin-bottom: 15px;
    width: 100%;
}

.lead{
    padding-left: 10px;
}

.display-3 {
    padding-left: 10px;
}

.cb {
    background-color: #58A4B0;
}

.cardshadow {
    box-shadow: 0 8px 16px 1px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}