html {
  min-height: 100%;
  position: relative; 
}

body{
  color: #171a21;
  font-family: 'Nunito', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', sans-serif !important;
}

.container {
  padding: 15px;
  margin: 15px;
  font-weight: 500;
  padding-right: 30px;
}

a {
  font-weight: 500;
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
}

a.hover {
  color: #58A4B0;
}

ul {
  list-style-type: none;
}

.fabio {
  font-size: 4vh !important;
}

.img {
  width: 99%;
  margin-top: 10%;
}

.card {
  display: table-cell;
  margin-bottom: 5px;
}

.col-container {
  display: table;
  width: 100%;
}

.ski {
  text-align: center;
  font-size: 14vh;
  color: #171a21;
}


.bk1 {
  background-color: #507dbc;
}

.bk2 {
  background-color: #7a93ac;
  color: white;
}

.ctf {
  margin-bottom: 75px;
}

.brk {
  margin-top: 25px;
}

.subt{
  font-family: 'Nunito', sans-serif;
  font-weight: 200 !important;
}

.hdr {
  font-size: 70px !important;
}

.ct {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 5px;
}

.cf {
  background-color: green;
}



img[src$=".svg"] {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
      width: 100%;
  }
  .ski {
    font-size: 12vh;
  }

}

@media only screen and (max-width: 350px) {
  /* For mobile phones: */
    body {
      width: 75%;
    }
    .ski {
      font-size: 12vh;
    }

  }
